<%# <footer>
  <p>&copy; 2023, CSE 340 App Jacob Buhler</p>
</footer> %>

<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright"> &copy; <%= year %>, CSE 340 App </p>
    <a href="/inv/trigger"> Trigger Error (test)</a>
</footer>